@import url("https://fonts.google.com/specimen/Raleway");
@import url("https://fonts.google.com/specimen/Open+Sans");
@import url(https://fonts.google.com/specimen/DM+Serif+Display);
@import url("https://fonts.google.com/specimen/Karla");


*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 16px;




}
body{
    overflow-x: hidden;
}

.row1{
    
    margin-left: 11.7293233082707%;
    margin-right: 10.1503759398496%;
    height: 6.2406015037594%;
    display: flex;
    flex-direction: row;
    padding: 0 0 1.875rem 0;
}
.row1 .logo1 h1{
   margin-top: 20px;
font-weight: 700;
font-family: sans-serif;

   font-size: 45px;
  border: 3px #000 solid;
 
  margin-right: 6rem;
 
}

.row1 .navigationLinks{
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    margin-top: 1.875rem;
    color:  hsl(273, 4%, 51%);
}



.row1 .navigationLinks ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.row4 h1{
    margin-bottom: 2rem;
}

.row1 .navigationLinks li{
    
    letter-spacing: .1rem;
    
  display: inline;
    font-size: 15px;
    padding: 0;
    
 
    }
    .row1 .navigationLinks li a{
        padding: 5px 5px;
        text-decoration: none;
        color: rgb(235, 107, 21);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-family: sans-serif;
      display: inline;
        font-size: 15px;
        padding: 5px;
    }
    .row2 h1{
        font-weight: 600;
        margin-left: 4%;
        font-size: 3.5rem;
        color: rgb(12, 10, 10);
        margin-top: 5.03759398496241%;
        margin-bottom: 15%;
        font-family: sans-serif;
       
    }
    .row3 h1{
        font-size: 2.5rem;
        margin-left: 20rem;
        font-family: sans-serif; 
        color: rgb(44, 40, 40);
    }
    .row3 p{
        margin-top: 1.5rem;
        margin-left: 17rem;
        font-size: 1rem;
        width: 60%;
        font-family: sans-serif;
    }
    .rowa{
        background-color: rgb(236, 231, 231);
        height: 120vh;
       
    }
    .row4 h1{
        margin-left: 32rem;
        margin-top: 4rem;
        font-family: sans-serif;
        font-size: 1.5rem;
    }
   

    .rowa {
        text-align: center;
        padding: 32px;
      }
      
      .column {
        padding: 0 4px;
        margin-left: 20rem;
        justify-content: center;

      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        -ms-flex: 45%; /* IE10 */
        flex: 45%;
        max-width: 45%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }


      .row2 .cardReviews{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 5rem;
    }
    
    .row2 .cardReviews .card{
        
        padding: 1.5rem;
       
       
        
        text-align: center;
        padding: 20px;
        width: 40%;
        height: 30vh
    }
    .row2 .cardReviews .card2{
        
        padding: 1.5rem;
       
       
        margin-bottom: 0rem;
        text-align: center;
        padding: 20px;
        width: 40%;
        height: 30vh
    }

   

    .row2 .cardReviews .card:first-child{
        margin-left: 0;
        background-image: url("../Assets/e.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 76%;
        margin-bottom: 2rem;
    }
    .row2 .cardReviews .card2:first-child{
        margin-left: 0;
        background-image: url("../Assets/f.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 76%;
        padding-bottom: 74px;
    }

    .row2 .cardReviews .card:nth-child(2){
        margin-left: 0;
        margin-right: -2rem;
        background-image: url("../Assets/f.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 72.5%;
       padding: 40px;
    }
    .row2 .cardReviews .card:nth-child(2){
        
       
       height: 20vh;
       
    }

    
    .row2 .cardReviews .card2:first-child{
        height: 20vh;
    }
    .row2 .cardReviews .card:first-child{
        height: 30vh;
       
    }
    .row2 .cardReviews .card2:nth-child(2){
        width: 31%;
        margin-right: 5rem;
        border: 1px #eee solid;
        padding-bottom: 0.9rem;
        background-color: wheat;
        
    }

    
    .row2 .cardReviews .card2:nth-child(2) h1{
        font-size: 25px;
    font-weight: 700;
font-family: sans-serif;}
        .row2 .cardReviews .card2:nth-child(2) p{
            font-size: 12px;
            
        }
        .row2 .cardReviews .card2:nth-child(2) .ti{
            font-size: 10px;
            font-weight: 700;
            font-family: sans-serif;
           
            
        }
        .btn{
            border-radius: 20px;
            margin-top: 0.4rem;
            background-color: rgb(235, 107, 21);
            padding: 2px;
            color: #fff;
        }
    .row2 .cardReviews .card:nth-child(3){
        width: 31%;
        margin-right: 5rem;
        border: 1px #eee solid;
        padding-bottom: 0.9rem;
        background-color: wheat;
        
    }
    .row2 .cardReviews .card:nth-child(3) .ri{
        font-size: 10px;
        font-weight: 700;
        font-family: sans-serif;
       
        
    }
    .row2 .cardReviews .card:nth-child(3) h1{
        font-size: 25px;
        font-weight: 700;
        font-family: sans-serif;
    }
    .row2 .cardReviews .card:nth-child(3) p{
        font-size: 12px;
    }
    .row2 .cardReviews .card2:nth-child(3){
       
        background-image: url("../Assets/e.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 80%;
    }
    .row5{
        background: #000;
        padding-left: 11.7293233082707%;
        padding-right: 10.1503759398496%;
        padding-top: 6.01503759398496%;
        padding-bottom: 6.01503759398496%;
    }
    .row5 h1{
        color: #fff;
        margin-left: 4rem;
    }
    .row5 .navigationLinks{
        
        
        margin-top: 1.875rem;
        color:  #fff;
    }
    
    
    
    .row5 .navigationLinks ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
   
    
    .row5 .navigationLinks li{
        
        letter-spacing: .1rem;
        
      display: inline;
        font-size: 15px;
        padding: 0;
        
     
        }
        .row5 .navigationLinks li a{
            padding: 5px 5px;
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-family: serif;
          display: inline;
            font-size: 25px;
            padding: 3px;
            border: 3px orangered solid;
            margin: 2.4rem;
        }
        .column i{
        
                font-size: 55px;
                color: grey;
                
                border-radius: 30%;
                border: 1px solid #808080;
                padding: 10px;
            margin-top: 4rem;
            margin-left: 1rem;
            
          
           
        }
        .column a{
            text-decoration: none;
            font-size: 2rem;
            color: grey;
        }
        .w{
            margin: 2rem;
           
            margin-bottom: 16rem;
            text-decoration: none;
            
        }
        .w2 {
            margin: 0.5rem;
           font-size: 2rem;
            margin-bottom: 20rem;
            margin-left: 1rem;
            text-decoration: none;
            
        }
        .w1 {
           
           font-size: 3rem;
            margin-bottom: 24rem;
            text-decoration: none;
            
        }

        
       .row5 .column li {
            
            letter-spacing: .1rem;
            
          display: inline;
            font-size: 15px;
            padding: 0;
            
         
            }
       
                .row5 .column ul{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                .h{
                    color: grey;
                    margin-left: 20rem;
                    margin-top: 5rem;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: sans-serif;
                }
              


                @media screen and (min-width: 0px) and (max-width: 768px){
                    body{
                        overflow-x: hidden;
                    }
                    .row2 .cardReviews{
                        display: flex;
                        flex-direction: column;
                      margin: 2rem;
                        margin-left: 3rem;
                        
                        
                    }
                    .row2 .cardReviews .card{
                        
                        padding: 1.5rem;
                       
                       
                        
                        text-align: center;
                        padding: 20px;
                        width: 70%;
                        height: 30vh
                    }
                    .row2 .cardReviews .card2{
                        
                        padding: 1.5rem;
                        
                        
                         
                         text-align: center;
                         padding: 20px;
                         width: 70%;
                         height: 30vh
                    }
                    .row2 .cardReviews .card:first-child{
                        margin-left: 0;
                        background-image: url("../Assets/e.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-size: 250px;
                       
                        
                    }
                    .row2 .cardReviews .card2:first-child{
                        margin-left: 0;
                        background-image: url("../Assets/f.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-size: 240px;
                        margin-bottom: 15rem;
                        
                      
                        
                    }
                    .row2 .cardReviews .card2:nth-child(2){
                        width: 195px;
                        padding-top: -10rem;
                        margin-right: 2.5rem;
                        border: 1px #eee solid;
                        padding-bottom: 0.1rem;
                        background-color: wheat;
                        margin-top: -13rem;
                     
                        
                    }
                    .row2 .cardReviews .card:nth-child(3){
                        width: 180px;
                        margin-right: 6rem;
                        border: 1px #eee solid;
                        padding-bottom: 5px;
                        padding-right: 2.6rem;
                        background-color: wheat;
                        margin-top: 1rem;
                        margin-bottom: 9rem;
                    
                }
                .row2 .cardReviews .card:nth-child(2){
                    margin-left: 0;
                    margin-right: -2rem;
                    background-image: url("../Assets/f.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-size: 240px;
                  
                }

                .row2 .cardReviews .card2:nth-child(3){
                    
                     background-image: url("../Assets/e.jpg");
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-size: 240px;
                     padding-bottom: 5rem;
                     padding-right: 2rem;
                     margin-top: 25px;
                     
                 }
                 .row4 h1{
                    margin-left: 7rem;
                    margin-top: 2rem;
                    font-family: serif;
                    font-size: 0.5rem;
                }

                 .row1 .logo1 h1{
                    margin-top: 20px;
                 font-weight: 700;
                 font-family: sans-serif;
                 
                    font-size: 10px;
                   border: 2px #000 solid;
                  
                   margin-right: 1px;
                  
                 }
                 
                 .row1 .navigationLinks{
                     margin-left: 4%;
                     display: flex;
                     flex-direction: row;
                     margin-top: 1rem;
                     color:  hsl(273, 4%, 51%);
                 }
                 
                 
                 
                 .row1 .navigationLinks ul{
                     list-style-type: none;
                     margin: 0;
                     padding: 0;
                 }
                 .row4 h1{
                     margin-bottom: 2rem;
                 }
                 
                 .row1 .navigationLinks li{
                     
                     letter-spacing: .1rem;
                     
                   display: inline;
                     font-size: 15px;
                     padding: 0;
                     
                  
                     }
                     .row1 .navigationLinks li a{
                         padding: 5px 5px;
                         text-decoration: none;
                         color: rgb(235, 107, 21);
                         font-weight: 700;
                         text-transform: uppercase;
                         letter-spacing: .1rem;
                         font-family: sans-serif;
                       display: inline;
                         font-size: 5px;
                         padding: 5px;
                     }

                     .row2 h1{
                        font-weight: 600;
                        margin-left: 13%;
                        font-size: 2rem;
                        color: rgb(12, 10, 10);
                        margin-top: 5.03759398496241%;
                        margin-bottom: 5px;
                        font-family: sans-serif;
                       
                    }
                    .row3 h1{
                        margin-top: 4rem;
                        font-size: 0.8rem;
                        margin-left: 3.5rem;
                        font-family: sans-serif; 
                        color: rgb(44, 40, 40);
                    }
                    .row3 p{
                        margin-top: 1.5rem;
                        margin-left: 3rem;
                        font-size: 0.5rem;
                        width: 60%;
                    }

                    .row5{
                        background: #000;
                       width: 130%;
                        padding-top: 20px;
                        padding-bottom: 7%;
                      
                        
                    }

                    .row5 .navigationLinks{
                        
                        
                        margin-top: 0.5rem;
                        color:  #fff;
                    }
                    
                    
                    
                    .row5 .navigationLinks ul{
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        margin-left: 3rem;
                    }
                   
                    
                    .row5 .navigationLinks li{
                        
                        letter-spacing: .1rem;
                        
                      display: inline;
                        font-size: 15px;
                        padding: 0;
                        
                     
                        }
                   

                         
                    
                    .row5 .navigationLinks li a{
                        padding: 1px 1px;
                        text-decoration: none;
                        color: #fff;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: .1rem;
                        font-family: serif;
                      display: inline;
                        font-size: 6px;
                        padding: 0.5px;
                        border: 2px orangered solid;
                        margin: 0.2rem;
                        margin-left: 2px;

                    }
                    .row5 h1{
                        color: #fff;
                        margin-left: 5rem;
                        font-size: 10px;
                    } 
                    
                       .column i{
    
            font-size: 55px;
            color: grey;
            
            border-radius: 30%;
            border: 1px solid grey;
            padding: 10px;
        margin-top: 4rem;
      
       
    }
    .h{
        color: #fff;
        margin-left: 4rem;
        margin-top: 2rem;
        font-size: 10px;
        font-weight: 700;
        font-family: sans-serif;
    }
    .column{
        display: grid;
        grid-template: 1fr 1fr;
        margin-right: 10rem;
      
        
    }

    .column i{
        
                font-size: 15px;
                color: grey;
                
                border-radius: 30%;
                border: 1px solid #808080;
                padding: 10px;
            margin-top: 2rem;
            margin-right: 14rem;
          
           
        }
        .w1{
           margin-bottom: 10rem;
            margin-left: 3rem;
        }
       
                 
}      